{% extends "basis.html" %}
{% load static %}

{% block title %}{{ object.title }} | Future Factory Twente{% endblock title %}

{% block content %}
<section style="margin-top: 70px !important;">
    <div class="container">
        <h6 class="section-title">{{ object.title }}</h6>
        {% if object.image %}
            <div class="row">
                <div class="col">
                    <img src="{{ object.image.url }}" alt="{{ object.title }}" class="w-100"/>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <i class="ti-calendar"></i> {{ object.date }}
            </div>
        </div>
        {% for paragraph in object.paragraphs.all %}
            {% if paragraph.text %}
                <div class="row mt-3">
                    <div class="col">
                        {{ paragraph.text_html | safe }}
                    </div>
                </div>
            {% endif %}
            {% if paragraph.image %}
                <div class="row mt-3">
                    <div class="col">
                        <img src="{{ paragraph.image.url }}" alt="" class="w-75 mx-auto d-block">
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endblock content %}