{% extends "basis.html" %}
{% load static %}

{% block title %}Future Factory Twente{% endblock title %}

{% block banner %}
<section id="banner" style="background-image: url('{% static "images/stockpres.jpg" %}')">
    <header>
    </header>
</section>
{% endblock banner %}

{% block content %}
<!-- Highlights -->
<section class="wrapper style1" style="padding-bottom: 0px;">
    <div class="container">
        <div class="row gtr-200">
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-lightbulb"></i>
                    <h3>Inspiration</h3>
                    <p>We aim to inspire a new generation with the fields of technologies that we innovate in.</p>
                </div>
            </section>
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-wrench"></i>
                    <h3>Innovation</h3>
                    <p>We aim to innovate in renewable energy, robotics, artificial intelligence and the drone industry.</p>
                </div>
            </section>
            <section class="col-4 col-12-narrower">
                <div class="box highlight">
                    <i class="icon solid major fa-handshake"></i>
                    <h3>Collaboration</h3>
                    <p>Having mutual goals, stimulates collaboration in all areas of the teams</p>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- Gigantic Heading
<section>
    <div class="container">
        <header class="major">
            <h2>Robins quote</h2>
            <p>At the Future Factory, five student teams of Twente are housed together</p>
        </header>
    </div>
</section>
 -->

<!-- Posts -->
<section class="wrapper style1" style="padding-top: 0px;">
    <div class="container">
    <h2> News and events </h2>
        <div class="row">
            {% for event in events %}
            <section class="col-6 col-12-narrower">
                <div class="box post">
                    {% if event.image %}
                    <a href="{{ event.get_absolute_url }}" class="image left">
                        <img src="{{ event.image.url }}" alt="{{ event.title }}">
                    </a>
                    {% endif %}
                    <div class="inner">
                        <h3>{{ event.title }}</h3>
                        <p>{{ event.summary }}</p>
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}