{% extends "basis.html" %}
{% load static %}

{% block title %}Electric Superbike Twente{% endblock title %}

{% block banner %}
<section id="banner" style="background-image: url('{% static "images/est_stock2.jpg" %}')">
    <header>
    </header>
</section>
{% endblock banner %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower">
                <div id="sidebar">

                    <!-- Sidebar -->
                        <section>
                            <span class="image featured"><img src="{% static "images/EST.png" %}" alt="" /></span>
                        </section>
    <!--
                        <section>
                            <h3>Instagram feed</h3>
                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                            Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                            Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>

                        </section>
      -->
                        <section>
                            <h3>Contact</h3>
      Mirjam Davidse, Communication Manager
      m.davidse@electricsuperbiketwente.nl <br>
      <a href="https://www.electricsuperbiketwente.nl">www.electricsuperbiketwente.nl</a>
                        </section>

                </div>
            </div>
            <div class="col-8  col-12-narrower imp-narrower">
                <div id="content">

                    <!-- Content -->

                        <article>
                            <header>
                                <h2>Electric Superbike Twente</h2>
                                <p>Racing of tommorrow, starts today</p>
                                <img src="{% static "images/est_stock.jpg" %}" style="width:100%">
                            </header>
                            <h2>About us </h2>
      <p>Electric Superbike Twente is a multidisciplinary initiative by students from the University of Twente and University of Applied Sciences Saxion whose aim is to develop an electric racing motorcycle. The first team started in 2017 and proved that they were able to build a safe electric racing motorcycle within one year. Each following year, a new team designed and build a new iteration of the bike. The teams current vision is to preserve racing for future generations. We want to be pioneers in electric mobility by being at the frontier of technological innovation on the race track.  <br><br>
<h2>Our bikes</h2>
The most recent motorcycle developed by EST is the DELTA-XE. This motorcycle was build with three core values in mind: reliability, power and agility. It is based on the foundations of the previous teams and includes many technical feats such as topology optimised footrests, custom made PCB's, self-written software and a bespoke electromotor. The motor delivers 30% more power compared to MotoE, while having a lower combined weight than the motorcycles used in the MotoE. Our goal for the upcoming year is to achieve faster lap times than MotoE as a way to get closer to our vision. <br><br>

Another important focus point is safety. Over the past years, we have put a lot of effort in creating safety protocols and technical directives for electric racing. These documents have been created in association with other (international) teams which develop and race electric motorcycles. Together we paid special attention to standardisation and professionality to make electric racing more approachable. Additionally, we had meetings with marshalls, first responders and standardisation institutes to further improve the safety of electric racing. <br><br>
<h2>Innovation</h2>
The race track has always been a place for innovations that represent mobility on a global level. Since the rise of electric vehicles (EV), this is not the case anymore. The market share of EV's is growing exponentially, but the dominant racing groups are still mainly fossil fuel powered. Electric Superbike Twente wants to be a pioneer in electric mobility and elevate it further. Therefore we think a transition to electric racing is necessary to hold on to racing as a platform for technological innovation.

        </article>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}