{% extends "basis.html" %}
{% load static %}

{% block title %}Green Team Twente{% endblock title %}

{% block banner %}
<section id="banner" style="background-image: url('{% static "images/gtt_event.jpeg" %}')">
    <header>
    </header>
</section>
{% endblock banner %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-4 col-12-narrower">
                <div id="sidebar">

                    <!-- Sidebar -->
                        <section>
                            <span class="image featured"><img src="{% static "images/GTT.png" %}" alt="" /></span>
                        </section>
    <!--
                        <section>
                            <h3>Instagram feed</h3>
                            <p>Phasellus quam turpis, feugiat sit amet ornare in, hendrerit in lectus.
                            Praesent semper mod quis eget mi. Etiam eu ante risus. Aliquam erat volutpat.
                            Aliquam luctus et mattis lectus sit amet pulvinar. Nam turpis et nisi etiam.</p>

                        </section>
      -->
                        <section>
                            <h3>Contact</h3>
      Wouter Groote Veldman, Team Manager
      info@greenteamtwente.nl <br>
      <a href="https://www.greenteamtwente.nl">www.greenteamtwente.nl</a>
                        </section>

                </div>
            </div>
            <div class="col-8  col-12-narrower imp-narrower">
                <div id="content">

                    <!-- Content -->

                        <article>
                            <header>
                                <h2>Green Team Twente</h2>
                                <p>#GoGreener</p>
                                <img src="{% static "images/gtt_fsrender.png" %}" style="width:100%">
                            </header>


      <h2>In essence</h2>
      <p>Green Team Twente aims to show the world that hydrogen is an essential part of the energy transition, by participating in the Formula Student competition and the Shell Eco-Marathon. Next to building the cars which participate in these competitions, we focus on education across generations and educational levels by visiting schools, organising workshops and more.</p>
      <h2>Technical information</h2>
      <p>The main technical challenge of our team is using the relatively novel fuel cell technology to build a racing car which can compete on a level comparable to electric racing vehicles, even though this technology is, in principle, less suited for racing. This is because even though hydrogen-fuelled powertrain systems can be scaled up very efficiently weight-wise, making them suitable for trucks, cargo ships and other heavy applications, the starting weight of such a system is rather high. As such, there are not a lot of lightweight applications, like racing vehicles, using hydrogen at the moment, but we want to innovate in this area. This poses an obvious challenge, and within the Formula Student competition this is what drives our team. Finding solutions to this challenge and others is breaking new ground, which means Green Team Twente works on engineering problems few have worked on before. </p>
                            <img src="{% static "images/gtt_render.png" %}" style="width:100%">
        <h2>Educational</h2>
        <p>Green Team Twente’s main goal is to educate people about hydrogen. The climate crisis, the energy transition, and solutions like the use of battery packs have been in the public eye for some time now. However, Green Team is convinced that these solutions alone, while crucial, are not enough. To get through the energy transition, multiple solutions need to work together, and we are sure that hydrogen is part of that puzzle. As such, we organise events and workshops and produce media to convince people to work with hydrogen, and to educate and prepare the public about the use of hydrogen. The competitions we participate in are a big part of this as well, as they draw attention to hydrogen and show its potential as an energy carrier. </p>

        </article>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}