{% extends "basis.html" %}
{% load static %}

{% block title %}{{ object.title }} | Future Factory Twente{% endblock title %}

{% block content %}
<section style="margin-top: 70px !important;">
    <div class="container">
        <h6 class="section-title">{{ object.title }}</h6>
        <div class="row">
            <div class="col">
                <i class="ti-calendar"></i> {{ object.date.date }} <i class="ti-time"></i> {{ object.date.time }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <i class="ti-location-pin"></i> {{ object.location }}
            </div>
        </div>
        {% if object.image %}
            <div class="row">
                <div class="col">
                    <img src="{{ object.image.url }}" alt="{{ object.title }}" class="w-50 mx-auto"/>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col">
                {{ object.description_html | safe }}
            </div>
        </div>
    </div>
</section>
{% endblock content %}