{% extends "basis.html" %}
{% load static %}

{% block title %}Events{% endblock title %}

{% block banner %}
<section id="banner" style="background-image: url('{% static "images/ffbulding.jpg" %}')">
    <header>
    </header>
</section>
{% endblock banner %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            {% if object.image %}
            <section class="col-6 col-12-narrower">
                <img src="{{ object.image.url }}" alt="" width="75%"/>
            </section>
            {% endif %}
            <section class="col-6 col-12-narrower">
                <h2>{{ object.summary }}</h2>
                <p>{{ object.description|safe }}</p>
            </section>
        </div>
    </div>
</section>
{% endblock content %}