{% extends "basis.html" %}
{% load static %}

{% block title %}Events{% endblock title %}

{% block banner %}
<section id="banner" style="background-image: url('{% static "images/ffbulding.jpg" %}')">
    <header>
    </header>
</section>
{% endblock banner %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="col-6 col-12-narrower">
            <img src="{% static "images/FF.png" %}" alt="" width="75%"/>
        </section>
        <section class="col-6 col-12-narrower">
            <h2>Our website is live!</h2>
            <p>The Future Factory has gone online! Next to sharing a building, the collective of DroneTeam Twente, Electric Superbike Twente, Green Team Twente, RoboTeam Twente, and Solar Boat Twente have bundled their forces to bring their innovations to the world. This is accompanied by a brand new website, where you can get more information about the different student teams, stay updated on their progress, and see which events they will attend. We are excited to start this collaboration, and curious what the future will bring!</p>
        </section>

        </div>

    </div>
</section>
{% endblock content %}