{% extends "basis.html" %}
{% load static %}

{% block title %}Partners{% endblock title %}

{% block banner %}
<section id="banner" style="background-image: url('{% static "images/patner.jpg" %}')">
    <header>
    </header>
</section>
{% endblock banner %}

{% block content %}
<section class="wrapper style1">
    <div class="container">
        <div id="content">
            <!-- Content -->
              <article>
                <header>
                  <h2>Wall Of Fame</h2>
                  <p>We do not only share knowledge between the teams in the future factory.
										We also have partnerships with several companies. With their support we hope
										to be able to inspire even more people. By sharing knowledge with our partners we hope
										to be able to innovate in new ways.<br><br>
										We are proud of our partners and therefore they get a special place on our site and on a wall in the Future Factory!<br>
										If you are interested in the possibilities of a partnership with Future Factory Twente
										as well and want to know more about what we could offer you, you can send an email to
									 	(info@futurefactorytwente.nl).</p>
                </header>

                <section class="wrapper style1">
                <div class="container">
                    <img src="{% static "images\walloffame.png" %}" id="walloffame" usemap="#walloffame">
<!--
									<map name="walloffame">

									 <area shape="rect" coords="160, 72, 386, 215" alt="DroneTeam" href="https://www.droneteamtwente.nl">
									 <area shape="rect" coords="428, 114, 652, 285" alt="RoboTeam" href="https://www.roboteamtwente.nl">
									 <area shape="rect" coords="553, 288, 776, 439" alt="Eshuis" href="https://www.eshuis.com/en/">
									 <area shape="rect" coords="44, 539, 298, 610" alt="Symbol" href="https://www.symbol.nl">
									 <area shape="rect" coords="12, 214, 275, 363" alt="GreenTeam" href="https://www.greenteamtwente.nl">
									 <area shape="rect" coords="430, 434, 630, 577" alt="EST" href="https://www.electricsuperbiketwente.nl">
									 <area shape="rect" coords="160, 308, 386, 451" alt="SolarBoat" href="https://www.solarboattwente.nl">
									</map> -->

                  </div>
                </section>
              </article>
        </div>
    </div>
</section>
{% endblock content %}