{% extends "basis.html" %}

{% block title %}Page not found | Future Factory Twente{% endblock %}

{% block description %}The requested page could not be found{% endblock %}

{% block content %}
<header class="header">
    <div class="overlay">
        <h6 class="subtitle">Page not found</h6>
        <h1 class="title">Whoops!</h1>
        <div class="buttons text-center">
            <a href="/" class="btn btn-primary rounded w-lg btn-lg my-1">Back to home</a>
            <a onclick="window.history.back();" href="#" class="btn btn-outline-light rounded w-lg btn-lg my-1">To previous page</a>
        </div>
    </div>
</header>
{% endblock %}