{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Tom Meulenkamp">
    <title>{% block title %}{% endblock %}</title>

    {# Favicon #}
    <link rel="shortcut icon" type="favicon/png" href="{% static "imgs/favicon.png" %}">

    <!-- font icons -->
    <link rel="stylesheet" href="{% static "vendors/themify-icons/css/themify-icons.css" %}">

    <!-- Main styles -->
    <link rel="stylesheet" href="{% static "css/creative-studio.min.css" %}">

    {% block head %}{% endblock %}

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav class="navbar custom-navbar navbar-expand-lg navbar-dark" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static "imgs/logo.png" %}" alt="Future Factory Twente">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    {% block nav_bar %}{% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <section class="py-0 bg-dark">
        <div class="container">
            <div class="footer">
                <div class="footer-lists">
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">ABOUT US</h6>
                        </li>
                        <li class="list-body">
                            <a href="#" class="logo">
                                <img src="{% static "imgs/logo.png" %}" alt="Future Factory Twente">
                                <h6>Future Factory Twente</h6>
                            </a>
                            <p>We house five innovative student teams from the University of Twente and Saxion University of Applied Sciences.</p>
                            <p class="mt-3">
                                Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a class="d-inline text-primary" href="https://dribbble.com/web_creative_studio">DevCRUD</a>
                            </p>
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">TEAM WEBSITES</h6>
                        </li>
                        <li class="list-body">
                            <div class="row">
                                <div class="col">
                                    <a href="https://droneteamtwente.nl">DroneTeam Twente</a>
                                    <a href="https://electricsuperbiketwente.nl">Electric Superbike Twente</a>
                                    <a href="https://greenteamtwente.nl">Green Team Twente</a>
                                    <a href="https://roboteamtwente.nl">RoboTeam Twente</a>
                                    <a href="https://solarboattwente.nl">Solar Boat Twente</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="list">
                        <li class="list-head">
                            <h6 class="font-weight-bold">CONTACT INFO</h6>
                        </li>
                        <li class="list-body">
                            <p>Contact us!</p>
                            <p><a href="https://goo.gl/maps/6tjHMdxWopHZTBAu5"><i class="ti-location-pin"></i>  Capitool 25, 7521PL, Enschede</a></p>
                            <p><a href="mailto:info@futurefactorytwente.nl"><i class="ti-email"></i> info@futurefactorytwente.nl</a></p>
                            <div class="social-links">
                                <a href="https://linkedin.com/company/future-factory-twente/" target="_blank" class="link"><i class="ti-linkedin"></i></a>
                                <a href="https://instagram.com/futurefactorytwente" target="_blank" class="link"><i class="ti-instagram"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- core  -->
    <script src="{% static "vendors/jquery/jquery-3.4.1.js" %}"></script>
    <script src="{% static "vendors/bootstrap/bootstrap.bundle.js" %}"></script>

    <!-- bootstrap affix -->
    <script src="{% static "vendors/bootstrap/bootstrap.affix.js" %}"></script>

    {% block scripts %}{% endblock %}

    <!-- Creative Studio js -->
    <script src="{% static "js/creative-studio.min.js" %}"></script>

</body>
</html>